<aside class="sidebar" [class.collapsed]="collapsed">

  <nav class="sidebar-nav">
    <ul class="nav-list">
      <ng-container *ngFor="let item of navItems">

        <!-- Item with children -->
        <li *ngIf="item.children && canViewMenuItem(item.roles); else simple">
          <button class="nav-link parent-link"
                  [class.open]="isExpanded(item.label)"
                  (click)="toggle(item.label)"
                  [title]="collapsed ? item.label : ''">
            <span class="nav-icon" [innerHTML]="item.icon"></span>
            <span class="nav-label">{{ item.label }}</span>
            <svg class="chevron" xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M19 9l-7 7-7-7" />
            </svg>
          </button>
          <ul class="submenu" [class.submenu-open]="isExpanded(item.label) && !collapsed">
            <ng-container *ngFor="let child of item.children">
              <li *ngIf="canViewMenuItem(child.roles)">
                <a [routerLink]="child.route" routerLinkActive="sub-active" class="sub-link">
                  <span class="sub-dot"></span>{{ child.label }}
                </a>
              </li>
            </ng-container>
          </ul>
        </li>

        <!-- Simple item -->
        <ng-template #simple>
          <li *ngIf="canViewMenuItem(item.roles)">
            <a [routerLink]="item.route" routerLinkActive="nav-active" class="nav-link" [title]="collapsed ? item.label : ''">
              <span class="nav-icon" [innerHTML]="item.icon"></span>
              <span class="nav-label">{{ item.label }}</span>
            </a>
          </li>
        </ng-template>

      </ng-container>
    </ul>
  </nav>

  <div class="sidebar-footer" *ngIf="!collapsed">
    <div class="user-card">
      <div class="user-avatar">{{ (userRole || 'U').charAt(0).toUpperCase() }}</div>
      <div class="user-info">
        <span class="user-name">{{ userFullName }}</span>
        <span class="user-role">{{ userRole || 'User' }}</span>
      </div>
    </div>
  </div>

</aside>
